In [11]:
import pandas as pd
import numpy as np
import json 
import re

In [12]:
path = 'data_adidas_2.json'
df = pd.read_json(path)
df.sample(3)

,availability,avg_rating,brand,color,currency,description,images,name,price,original_price,review_count,scraped_at,url,category,cloth_gender
71,InStock,NaN,adidas,White / Mls-Mif-37t,USA,A SOCCER TEE CELEBRATING MESSI'S ARRIVAL IN MI...,"[https://assets.adidas.com/images/w_600,f_auto...",MESSI TEE,$28,$35,13,2023-12-11 03:49:21,https://www.adidas.com/us/messi-tee/JH1135.html,Clothing,Men
443,InStock,5.0,adidas,Team Power Red / Mgh Solid Grey / Multi,USA,"A RED WINGS HOODIE WITH ZIP POCKETS, MADE WITH...","[https://assets.adidas.com/images/w_600,f_auto...",RED WINGS TEAM ISSUE PULLOVER HOODIE,$70,$70,4,2023-12-11 07:05:14,https://www.adidas.com/us/red-wings-team-issue...,Clothing,Men
52,InStock,NaN,adidas,Red / Black / Multi,USA,A HOCKEY-STYLE T-SHIRT FOR BLACKHAWKS FANS.\nB...,"[https://assets.adidas.com/images/w_600,f_auto...",BLACKHAWKS HOCKEY TEE,$49,$70,3,2023-12-11 03:49:21,https://www.adidas.com/us/blackhawks-hockey-te...,Clothing,Men

In [13]:
# Thay thế các dấu /n trong description
descrip =  []
for index,item in enumerate(df.description):
    try:
        descrip.append(re.sub("\n"," ",item))
    except:
        descrip.append(item)

len(descrip)

919

In [14]:
df.description = descrip
df.sample(2)

,availability,avg_rating,brand,color,currency,description,images,name,price,original_price,review_count,scraped_at,url,category,cloth_gender
733,InStock,NaN,adidas,Black,USA,COMFORTABLE SHORTS WITH ANIMAL STRIPES. Style ...,"[https://assets.adidas.com/images/w_600,f_auto...",GRAPHICS ANIMAL SHORTS,$65,$65,0,2023-12-11 11:36:48,https://www.adidas.com/us/graphics-animal-shor...,Clothing,Men
500,InStock,4.7,adidas,Black / White / White,USA,A TRACK JACKET MADE IN PART WITH A BLEND OF RE...,"[https://assets.adidas.com/images/w_600,f_auto...",ADICOLOR CLASSICS SST TRACK JACKET,$80,$80,171,2023-12-11 07:36:41,https://www.adidas.com/us/adicolor-classics-ss...,Clothing,Men

In [15]:
price =  []
for index,item in enumerate(df.price):
    try:
        price.append(int(re.sub(r'\D', '', item)))
    except:
        price.append(item)

df.price = price
len(price)

919

In [16]:
df.sample(2)

,availability,avg_rating,brand,color,currency,description,images,name,price,original_price,review_count,scraped_at,url,category,cloth_gender
895,InStock,NaN,adidas,Wonder Beige F23,USA,SUPER-SOFT SHORTS WITH SUBTLE MICRO TREFOIL DE...,"[https://assets.adidas.com/images/w_600,f_auto...",PREMIUM ESSENTIALS SHORTS,55,$55,27,2023-12-11 12:48:38,https://www.adidas.com/us/premium-essentials-s...,Clothing,Men
420,OutOfStock,NaN,adidas,Wonder Clay F23,USA,A SOFT AND WARM SWEATSHIRT WITH A SPECIAL REMI...,"[https://assets.adidas.com/images/w_600,f_auto...",LOUNGE FLEECE SWEATSHIRT,26,$65,0,2023-12-11 06:56:34,https://www.adidas.com/us/lounge-fleece-sweats...,Clothing,Men

In [17]:
origin_price =  []
for index,item in enumerate(df.original_price):
    try:
        origin_price.append(int(re.sub(r'\D', '', item)))
    except:
        origin_price.append(item)

df.original_price = origin_price

In [18]:
df.sample(2)

,availability,avg_rating,brand,color,currency,description,images,name,price,original_price,review_count,scraped_at,url,category,cloth_gender
547,InStock,NaN,adidas,Black,USA,"A BOMBER JACKET FOR COMFORT ON THE GO, MADE WI...","[https://assets.adidas.com/images/w_600,f_auto...",BEST OF ADIDAS TRAINING BOMBER JACKET,76,190,16,2023-12-11 08:14:06,https://www.adidas.com/us/best-of-adidas-train...,Clothing,Men
718,InStock,NaN,adidas,Black,USA,STAY COOL IN TENNIS SHORTS MADE IN PART WITH R...,"[https://assets.adidas.com/images/w_600,f_auto...",TENNIS ERGO SHORTS,60,60,0,2023-12-11 11:34:12,https://www.adidas.com/us/tennis-ergo-shorts/I...,Clothing,Men

In [19]:
df.dtypes

availability              object
avg_rating               float64
brand                     object
color                     object
currency                  object
description               object
images                    object
name                      object
price                      int64
original_price             int64
review_count               int64
scraped_at        datetime64[ns]
url                       object
category                  object
cloth_gender              object
dtype: object

In [20]:
# Các cột cần chuyển về chữ thường
list_columns_convert_lower = ['availability', 'brand', 'color', 'currency','description','name','category','cloth_gender']
for col in list_columns_convert_lower:
    df[col] = df[col].str.lower()

In [21]:
df['avg_rating'].fillna(3, inplace=True)

# Xóa hàng nào có NaN trong cột 'name'
df.dropna(subset=['name'], inplace=True)

# Kiểm tra lại DataFrame sau khi đã chỉnh sửa
nan_counts = df.isna().sum()

print(nan_counts)

availability      0
avg_rating        0
brand             0
color             0
currency          0
description       6
images            0
name              0
price             0
original_price    0
review_count      0
scraped_at        0
url               0
category          0
cloth_gender      0
dtype: int64

In [22]:
df['description'].fillna("", inplace=True)
nan_counts = df.isna().sum()

print(nan_counts)

availability      0
avg_rating        0
brand             0
color             0
currency          0
description       0
images            0
name              0
price             0
original_price    0
review_count      0
scraped_at        0
url               0
category          0
cloth_gender      0
dtype: int64

In [23]:
df.to_csv('data_crawl.csv')