In [3]:
import pandas as pd
import numpy as np
import json 
import re

In [8]:
path = 'data_crawl_com_mock_prices.json'
df = pd.read_json(path)
df.sample(3)

,availability,avg_rating,brand,color,currency,description,image,name,price,original_price,review_count,scraped_at,url,category,mock_prices,images
34,InStock,4.6,Hanes,[Nasa Meatball],None,SHORT-SLEEVES - Sporty short-sleeve design kee...,NaN,Hanes Men’s Short Sleeve Graphic T-shirt Colle...,8.81,16.00,80.0,2023-12-16 16:04:03,https://www.amazon.com/Hanes-Mens-NASA-Meatbal...,T-shirts,"[5.529922795662461, 7.262900221454301, 13.1906...",https://m.media-amazon.com/images/I/91SZR7U5OT...
12,In Stock,4.5,YHOON,[Black ],America,"Lightweight and Breathable:The stretchy,breath...",https://i5.walmartimages.com/asr/0f7d2bf6-b1e5...,YHOON Women's Slip On Walking Shoes Lightweigh...,23.99,23.99,9.0,2023-12-16 09:57:25,https://www.walmart.com/ip/YHOON-Women-s-Slip-...,Shoes,"[24.76398795477884, 19.993890165477396, 19.233...",NaN
2,In Stock,4.4,Gilda,[White],America,Fruit Of The Loom irregular short sleeve t-shi...,https://i5.walmartimages.com/seo/Fruit-Of-The-...,Gildan Adult Short Sleeve Crew T-Shirt for Cra...,3.48,7.61,660.0,2023-12-16 08:55:44,https://www.walmart.com/ip/Gildan-Adult-Short-...,T-shirts,"[3.32529734819787, 3.067050953378966, 3.629907...",NaN

In [9]:
# Thay thế các dấu /n trong description
descrip =  []
for index,item in enumerate(df.description):
    try:
        descrip.append(re.sub("\n"," ",item))
    except:
        descrip.append(item)

len(descrip)

47

In [10]:
df.description = descrip
df.sample(2)

,availability,avg_rating,brand,color,currency,description,image,name,price,original_price,review_count,scraped_at,url,category,mock_prices,images
14,In Stock,5.0,Disney Princess,"[Purple, Blue]",America,Your toddler girl is going to absolutely love ...,https://i5.walmartimages.com/seo/Disney-Prince...,Disney Princess Toddler Girl Light Up Winter S...,14.99,34.99,4.0,2023-12-16 10:01:47,https://www.walmart.com/ip/Disney-Princess-Tod...,Shoes,"[12.892352164697844, 14.446608138348033, 16.08...",NaN
35,InStock,4.6,Wrangler Authentics,"[Black Denim, Stonewash]",None,RELAXED FIT. Built with a relaxed fit through ...,NaN,Wrangler Authentics Men's Fleece Lined Five Po...,33.80,37.80,64.0,2023-12-16 16:04:03,https://www.amazon.com/Wrangler-Authentics-Fle...,Jeans,"[41.52952486382727, 39.4395470296697, 29.96574...",https://m.media-amazon.com/images/I/81yVP2zUvI...

In [11]:
price =  []
for index,item in enumerate(df.price):
    try:
        price.append(int(re.sub(r'\D', '', item)))
    except:
        price.append(item)

df.price = price
len(price)

47

In [12]:
df.sample(2)

,availability,avg_rating,brand,color,currency,description,image,name,price,original_price,review_count,scraped_at,url,category,mock_prices,images
22,In Stock,4.5,Calvin Klein,"[Forever Black, Boston Blue Black, Limelight]",America,"An iconic essential, our reimagined jeans are ...",https://calvinklein.scene7.com/is/image/Calvin...,Standard Straight Jean,53.7,89.5,28.0,2023-12-16 13:10:02,https://www.calvinklein.us/en/men/apparel/bott...,Jeans,"[55.51529577376878, 55.519158404005836, 49.995...",NaN
42,InStock,4.0,Prada,[White],Italy,This Prada Women's White Vitello Phenix Leathe...,NaN,Prada Women's White Vitello Phenix Leather Cro...,2950.0,2950.0,0.0,2023-12-16 16:04:13,https://www.amazon.com/Prada-Vitello-Leather-C...,Handbags,"[2479.424049183421, 2702.9115114927104, 2671.8...",https://m.media-amazon.com/images/I/61+bWxNQc-...

In [13]:
origin_price =  []
for index,item in enumerate(df.original_price):
    try:
        origin_price.append(int(re.sub(r'\D', '', item)))
    except:
        origin_price.append(item)

df.original_price = origin_price

In [14]:
df.sample(2)

,availability,avg_rating,brand,color,currency,description,image,name,price,original_price,review_count,scraped_at,url,category,mock_prices,images
26,In Stock,4.0,Calvin Klein,"[Black , Tofu]",America,"Designed with curved shaping, this shoulder ba...",https://calvinklein.scene7.com/is/image/Calvin...,Archive Hardware Buckle Shoulder Bag,93.7,139.5,8.0,2023-12-16 13:19:44,https://www.calvinklein.us/en/women/accessorie...,Handbags,"[84.68768087245024, 94.75174778906195, 102.769...",NaN
42,InStock,4.0,Prada,[White],Italy,This Prada Women's White Vitello Phenix Leathe...,NaN,Prada Women's White Vitello Phenix Leather Cro...,2950.0,2950.0,0.0,2023-12-16 16:04:13,https://www.amazon.com/Prada-Vitello-Leather-C...,Handbags,"[2479.424049183421, 2702.9115114927104, 2671.8...",https://m.media-amazon.com/images/I/61+bWxNQc-...

In [15]:
df.dtypes

availability              object
avg_rating               float64
brand                     object
color                     object
currency                  object
description               object
image                     object
name                      object
price                    float64
original_price           float64
review_count             float64
scraped_at        datetime64[ns]
url                       object
category                  object
mock_prices               object
images                    object
dtype: object

In [16]:
# Các cột cần chuyển về chữ thường
list_columns_convert_lower = ['availability', 'brand', 'color', 'currency','description','name','category','cloth_gender']
for col in list_columns_convert_lower:
    df[col] = df[col].str.lower()

KeyError: 'cloth_gender'

In [ ]:
df['avg_rating'].fillna(3, inplace=True)

# Xóa hàng nào có NaN trong cột 'name'
df.dropna(subset=['name'], inplace=True)

# Kiểm tra lại DataFrame sau khi đã chỉnh sửa
nan_counts = df.isna().sum()

print(nan_counts)

availability      0
avg_rating        0
brand             0
color             0
currency          0
description       6
images            0
name              0
price             0
original_price    0
review_count      0
scraped_at        0
url               0
category          0
cloth_gender      0
dtype: int64

In [17]:
df['description'].fillna("", inplace=True)
nan_counts = df.isna().sum()

print(nan_counts)

availability       0
avg_rating         2
brand              0
color             46
currency           6
description        0
image             17
name               0
price              0
original_price     0
review_count       0
scraped_at         2
url                0
category           0
mock_prices        0
images            30
dtype: int64

In [18]:
df.to_json("data.json")