In [18]:
import pandas as pd
import numpy as np
import json 
import re

In [19]:
path = 'data_mock_prices_main_main.json'
df = pd.read_json(path)
df.sample(3)

,availability,avg_rating,brand,color,currency,description,images,name,price,original_price,review_count,scraped_at,url,mock_prices,category,cloth_gender
1164,InStock,0.0,adidas,Core Black / Carbon / Grey One,USA,Description\nPLAY CLASSY IN SYNTHETIC LEATHER ...,"[https://assets.adidas.com/images/w_600,f_auto...",COPA PURE II LEAGUE FIRM GROUND CLEATS,55.0,55.0,0,2023-12-13 23:25:29,https://www.adidas.com/us/copa-pure-ii-league-...,"[57.002032066715564, 50.59460518804821, 64.801...",Shoes,Kids
2311,InStock,4.7,adidas,Wonder Blue F23,USA,"Description\nSTRETCHY, PERFORMANCE-READY SHORT...","[https://assets.adidas.com/images/w_600,f_auto...",DESIGNED FOR TRAINING SHORTS,18.0,40.0,534,2023-12-14 10:18:32,https://www.adidas.com/us/designed-for-trainin...,"[14.57188953394588, 12.545721382473058, 19.389...",Clothing,Men
2239,InStock,4.8,adidas,Black,USA,"Description\nA LIGHTWEIGHT, WINDPROOF JACKET T...","[https://assets.adidas.com/images/w_600,f_auto...",ULTIMATE JACKET,130.0,130.0,26,2023-12-14 08:09:42,https://www.adidas.com/us/ultimate-jacket/HY14...,"[162.07236754037544, 161.14358600235596, 139.2...",Clothing,Men

In [20]:
# Thay thế các dấu /n trong description
descrip =  []
for index,item in enumerate(df.description):
    try:
        descrip.append(re.sub("\n"," ",item))
    except:
        descrip.append(item)

df.description = descrip

In [21]:
price =  []
for index,item in enumerate(df.price):
    try:
        price.append(int(re.sub(r'\D', '', item)))
    except:
        price.append(item)

df.price = price

In [22]:
origin_price =  []
for index,item in enumerate(df.original_price):
    try:
        origin_price.append(int(re.sub(r'\D', '', item)))
    except:
        origin_price.append(item)

df.original_price = origin_price

In [23]:
# Các cột cần chuyển về chữ thường
list_columns_convert_lower = ['availability', 'brand', 'color', 'currency','description','name','category','cloth_gender']
for col in list_columns_convert_lower:
    df[col] = df[col].str.lower()

In [24]:
nan_counts = df.isna().sum()

print(nan_counts)

availability         0
avg_rating           0
brand                0
color                0
currency             0
description          0
images               0
name                 0
price                0
original_price       0
review_count         0
scraped_at           0
url                  0
mock_prices          0
category          1047
cloth_gender      1047
dtype: int64

In [25]:
list_mock = []
for index,row in df.iterrows():
    mock = str(round(row.mock_prices[0],2)) + "~"
    for i in range(1,len(row.mock_prices)):
        if i != len(row.mock_prices) - 1:
            mock += str(round(row.mock_prices[i],2)) + "~"
        else:
            mock += str(round(row.mock_prices[i],2))
    list_mock.append(mock)

df['mock_prices'] = list_mock

In [26]:
df.to_csv("data.csv")