In [1]:
import pandas as pd
import numpy as np
import json 
import re

In [5]:
path = 'data_mock_prices.json'
df = pd.read_json(path)
df.sample(3)

,availability,avg_rating,brand,color,currency,description,images,name,price,original_price,review_count,scraped_at,url,mock_prices,category,cloth_gender
167,InStock,5.0,nike,Cargo Khaki/Cargo Khaki,USA,Made with soft cotton twill in a military-insp...,[https://static.nike.com/a/images/t_PDP_1728_v...,Nike Life,100.0,100.0,1,2023-12-16 12:06:48,https://www.nike.com/t/life-mens-cargo-pants-r...,"[66.22404785325627, 45.60467012885911, 82.7442...",NaN,NaN
2224,InStock,5.0,adidas,Black,USA,Description\nAN EYE FOR THE UNEXPECTED.\nUsing...,"[https://assets.adidas.com/images/w_600,f_auto...",DILL EYES SHORT SLEEVE TEE,20.0,32.0,1,2023-12-14 08:02:40,https://www.adidas.com/us/dill-eyes-short-slee...,"[40.81807791847716, 13.316232685802802, 41.774...",Clothing,Men
332,InStock,0.0,nike,Anthracite,USA,Featuring a bold design with details from the ...,[https://static.nike.com/a/images/t_PDP_1728_v...,Super Bowl LVIII Essential,35.0,35.0,0,2023-12-16 12:30:32,https://www.nike.com/t/super-bowl-lviii-essent...,"[66.22404785325627, 45.60467012885911, 82.7442...",NaN,NaN

In [6]:
# Thay thế các dấu /n trong description
descrip =  []
for index,item in enumerate(df.description):
    try:
        descrip.append(re.sub("\n"," ",item))
    except:
        descrip.append(item)

df.description = descrip

In [7]:
price =  []
for index,item in enumerate(df.price):
    try:
        price.append(int(re.sub(r'\D', '', item)))
    except:
        price.append(item)

df.price = price

In [8]:
origin_price =  []
for index,item in enumerate(df.original_price):
    try:
        origin_price.append(int(re.sub(r'\D', '', item)))
    except:
        origin_price.append(item)

df.original_price = origin_price

In [9]:
# Các cột cần chuyển về chữ thường
list_columns_convert_lower = ['availability', 'brand', 'color', 'currency','description','name','category','cloth_gender']
for col in list_columns_convert_lower:
    df[col] = df[col].str.lower()

In [10]:
nan_counts = df.isna().sum()

print(nan_counts)

availability         0
avg_rating           0
brand                0
color                0
currency             0
description          0
images               0
name                 0
price                0
original_price       0
review_count         0
scraped_at           0
url                  0
mock_prices          0
category          1047
cloth_gender      1047
dtype: int64

In [11]:
for index,row in df.iterrows():
    print(type(row.mock_prices))
    break

<class 'list'>

In [12]:
df.to_csv("data.csv")