In [50]:
import pandas as pd
import numpy as np
import json 
import re

In [51]:
path = 'data_mock_prices_main_main.json'
df = pd.read_json(path)
df.sample(3)

,availability,avg_rating,brand,color,currency,description,images,name,price,original_price,review_count,scraped_at,url,mock_prices,category,cloth_gender
480,InStock,0.0,nike,Red Stardust/Black,USA,Can you believe it's already been 10 years of ...,[https://static.nike.com/a/images/t_PDP_1728_v...,Nike Sportswear Tech Fleece Windrunner,108.97,145.0,0,2023-12-16 12:56:41,https://www.nike.com/t/sportswear-tech-fleece-...,"[106.2417317368048, 88.28994576746442, 86.9629...",NaN,NaN
261,InStock,4.3,nike,White/Total Orange/Black,USA,"You never stop improving your skills, so use t...",[https://static.nike.com/a/images/t_PDP_1728_v...,Premier League Academy,27.97,37.0,12,2023-12-16 12:20:37,https://www.nike.com/t/premier-league-academy-...,"[34.948789347262505, 26.550293365663393, 23.69...",NaN,NaN
1220,InStock,4.4,adidas,Core Black / Core Black / Carbon,USA,Description\nVINTAGE-INSPIRED BASKETBALL SHOES...,"[https://assets.adidas.com/images/w_600,f_auto...",CRAZY 1 SHOES,150.00,150.0,37,2023-12-13 23:49:30,https://www.adidas.com/us/crazy-1-shoes/IG5900...,"[180.99457296428466, 127.56519300935285, 152.3...",Shoes,Men

In [52]:
# Thay thế các dấu /n trong description
descrip =  []
for index,item in enumerate(df.description):
    try:
        descrip.append(re.sub("\n"," ",item))
    except:
        descrip.append(item)

len(descrip)

3144

In [53]:
df.description = descrip
df.sample(2)

,availability,avg_rating,brand,color,currency,description,images,name,price,original_price,review_count,scraped_at,url,mock_prices,category,cloth_gender
2566,InStock,4.7,adidas,Core Black / Carbon / Lucid Lemon,USA,Description EXCEPTIONALLY RESPONSIVE SHOES MAD...,"[https://assets.adidas.com/images/w_600,f_auto...",ULTRABOOST 1.0 SHOES,133.0,190.0,2033,2023-12-14 12:18:46,https://www.adidas.com/us/ultraboost-1.0-shoes...,"[144.60333224737695, 150.49205202362032, 119.5...",Shoes,Men
254,InStock,4.6,nike,Anthracite/Black,USA,Some sneakers are an investment. This bag has ...,[https://static.nike.com/a/images/t_PDP_1728_v...,Jordan The Shoe Box,40.0,40.0,40,2023-12-16 12:19:32,https://www.nike.com/t/jordan-the-shoe-box-bag...,"[28.024280099265624, 24.13008001141481, 37.423...",NaN,NaN

In [54]:
price =  []
for index,item in enumerate(df.price):
    try:
        price.append(int(re.sub(r'\D', '', item)))
    except:
        price.append(item)

df.price = price
len(price)

3144

In [55]:
df.sample(2)

,availability,avg_rating,brand,color,currency,description,images,name,price,original_price,review_count,scraped_at,url,mock_prices,category,cloth_gender
2919,OutOfStock,0.0,adidas,White / Black,USA,Description A SPORTY TRAINING TEE MADE IN PART...,"[https://assets.adidas.com/images/w_600,f_auto...",AEROREADY DESIGNED TO MOVE FEELREADY SPORT TEE,20.0,25.0,0,2023-12-14 15:28:03,https://www.adidas.com/us/aeroready-designed-t...,"[20.97256489325092, 21.36678820353066, 17.9811...",Clothing,Men
1726,InStock,4.6,adidas,Black,USA,Description A MINIMALIST HOODIE THAT YOU CAN M...,"[https://assets.adidas.com/images/w_600,f_auto...",ADICOLOR ESSENTIALS REGULAR HOODIE (PLUS SIZE),48.0,60.0,11,2023-12-14 04:06:42,https://www.adidas.com/us/adicolor-essentials-...,"[38.69154944431883, 40.97681351627052, 37.7995...",Clothing,Women

In [56]:
origin_price =  []
for index,item in enumerate(df.original_price):
    try:
        origin_price.append(int(re.sub(r'\D', '', item)))
    except:
        origin_price.append(item)

df.original_price = origin_price

In [57]:
df.sample(2)

,availability,avg_rating,brand,color,currency,description,images,name,price,original_price,review_count,scraped_at,url,mock_prices,category,cloth_gender
2765,InStock,4.5,adidas,Black / White,USA,Description BREATHABLE SOCKS MADE IN PART WITH...,"[https://assets.adidas.com/images/w_600,f_auto...",CUSHIONED 3 NO-SHOW SOCKS 3 PAIRS,13.0,16.0,39,2023-12-14 14:00:39,https://www.adidas.com/us/cushioned-3-no-show-...,"[12.05411949437376, 11.826091539804704, 7.6984...",Accessories,Women
535,InStock,0.0,nike,mokey Mauve/Black,USA,"Grounded in style, comfort and versatility, me...",[https://static.nike.com/a/images/t_PDP_1728_v...,Nike Sportswear Chill Knit,55.0,55.0,0,2023-12-16 13:05:31,https://www.nike.com/t/sportswear-chill-knit-w...,"[48.91488143173169, 61.76279460709288, 41.1110...",NaN,NaN

In [58]:
df.dtypes

availability              object
avg_rating               float64
brand                     object
color                     object
currency                  object
description               object
images                    object
name                      object
price                    float64
original_price           float64
review_count               int64
scraped_at        datetime64[ns]
url                       object
mock_prices               object
category                  object
cloth_gender              object
dtype: object

In [59]:
# Các cột cần chuyển về chữ thường
list_columns_convert_lower = ['availability', 'brand', 'color', 'currency','description','name']
for col in list_columns_convert_lower:
    df[col] = df[col].str.lower()

In [60]:
list_mock = []
for index,row in df.iterrows():
    mock = str(round(row.mock_prices[0],2)) + "~"
    for i in range(1,len(row.mock_prices)):
        if i != len(row.mock_prices) - 1:
            mock += str(round(row.mock_prices[i],2)) + "~"
        else:
            mock += str(round(row.mock_prices[i],2))
    list_mock.append(mock)

df['mock_prices'] = list_mock

In [61]:
df['avg_rating'].fillna(3, inplace=True)

# Xóa hàng nào có NaN trong cột 'name'
df.dropna(subset=['name'], inplace=True)

# Kiểm tra lại DataFrame sau khi đã chỉnh sửa
nan_counts = df.isna().sum()

print(nan_counts)

availability         0
avg_rating           0
brand                0
color                0
currency             0
description          0
images               0
name                 0
price                0
original_price       0
review_count         0
scraped_at           0
url                  0
mock_prices          0
category          1047
cloth_gender      1047
dtype: int64

In [62]:
df['description'].fillna("", inplace=True)
nan_counts = df.isna().sum()

print(nan_counts)

availability         0
avg_rating           0
brand                0
color                0
currency             0
description          0
images               0
name                 0
price                0
original_price       0
review_count         0
scraped_at           0
url                  0
mock_prices          0
category          1047
cloth_gender      1047
dtype: int64

In [64]:
df.to_csv("data.csv")